@using WebTetrisScoreSystem.ViewModels.ViewComponents
@model IEnumerable<PlayerScoreViewModel>

<table class="table table-hover">
    <tr>
        <th>Seed</th>
        <th>Player</th>
        <th>Total Maxouts</th>
        <th>Kicker</th>
    </tr>
    @foreach (var player in Model)
    {      
        <tr>
            <td>@player.Rank</td>
            <td>@player.NickName</td>
            <td>@player.MaxoutsCount</td>
            <td>@player.Kicker</td>
        </tr>
    }
</table>