@page
<div class="row">
    <div class="col-md-12">
        <div class="list-group" id="messagesList"></div>
        <hr />
    </div>
</div>

<div class="row offset-3">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <input type="text" id="messageInput" />
        <button class="btn btn-primary" id="sendButton">Send Message</button>
    </div>
    <div class="col-md-1"></div>
</div>

@section Scripts
{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/chat.js"></script>
}
