<form method="post">
    <nav class="btn-group-vertical offset-5">
        <a class="btn btn-primary mt-5" asp-area="Administration" asp-action="ManagePlayers">Manage Players</a>
        <a class="btn btn-primary mt-3" asp-area="Administration" asp-action="ViewRanklist">View Ranklist</a>
    </nav>
</form>