@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Web Tetris Score system</h1>
</div>

<div class="col-md-12">
    <img src="~/Tetris.png" class="img-thumbnail" />
</div>